<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key><string>_notdef.glif</string>
    <key>up</key><string>up.glif</string>
    <key>down</key><string>down.glif</string>
    <key>_</key><string>_.glif</string>
    <key>cap.top</key><string>cap.top.glif</string>
    <key>cap.bottom</key><string>cap.bottom.glif</string>
    {{#each values}}
    <key>_{{ this.value }}</key><string>{{ this.value }}.glif</string>{{#if this.clip}}<key>_{{ this.value }}.clip</key><string>{{ this.value }}.clip.glif</string>{{/if}}
    {{/each}}
  </dict>
</plist>
