<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1000</integer>
		<key>capHeight</key>
		<integer>0</integer>
		<key>descender</key>
		<integer>0</integer>
		<key>familyName</key>
		<string>Wavefont</string>
		<key>postscriptBlueFuzz</key>
		<integer>1</integer>
		<key>postscriptBlueScale</key>
		<real>0.04</real>
		<key>postscriptBlueShift</key>
		<integer>7</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1000</integer>
			<integer>1000</integer>
		</array>
		<key>postscriptFontName</key>
		<string>Wavefont</string>
		<key>postscriptFullName</key>
		<string>Wavefont</string>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>50</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>50</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>0</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>postscriptWeightName</key>
		<string>Regular</string>
		<key>styleName</key>
		<string>Regular</string>
		<key>trademark</key>
		<string>Copyright (c) 2021, Dmitry Ivanov.</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>3</integer>
		<key>versionMinor</key>
		<integer>0</integer>
		<key>xHeight</key>
		<integer>0</integer>
	</dict>
</plist>
