lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

examples
/wavefont*/

env
*(Autosaved)*

source/Wavefont/*.ufo/glyphs.com.adobe.type.processedglyphs/*
source/Wavefont/*.ufo/data/*
source/Wavefont/cmap.ttx
