lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

examples
/wavefont*/

env
*(Autosaved)*

sources/*.ufo/glyphs.com.adobe.type.processedglyphs/*
sources/*.ufo/data/*
sources/cmap.ttx
venv
*.stamp

.DS_Store
.ninja_log
*.ninja
.DS_Store
