<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Roundness</string>
        <real>100.0</real>
      </array>
      <array>
        <string>Vertical Element Alignment</string>
        <real>0.0</real>
      </array>
      <array>
        <string>Weight</string>
        <real>100.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>up10</string>
      <string>up</string>
      <string>down</string>
      <string>down10</string>
      <string>cap</string>
      <string>_0</string>
      <string>_1</string>
      <string>_2</string>
      <string>_3</string>
      <string>_4</string>
      <string>_5</string>
      <string>_6</string>
      <string>_7</string>
      <string>_8</string>
      <string>_9</string>
      <string>_10</string>
      <string>_11</string>
      <string>_12</string>
      <string>_13</string>
      <string>_14</string>
      <string>_15</string>
      <string>_16</string>
      <string>_17</string>
      <string>_18</string>
      <string>_19</string>
      <string>_20</string>
      <string>_21</string>
      <string>_22</string>
      <string>_23</string>
      <string>_24</string>
      <string>_25</string>
      <string>_26</string>
      <string>_27</string>
      <string>_28</string>
      <string>_29</string>
      <string>_30</string>
      <string>_31</string>
      <string>_32</string>
      <string>_33</string>
      <string>_34</string>
      <string>_35</string>
      <string>_36</string>
      <string>_37</string>
      <string>_38</string>
      <string>_39</string>
      <string>_40</string>
      <string>_41</string>
      <string>_42</string>
      <string>_43</string>
      <string>_44</string>
      <string>_45</string>
      <string>_46</string>
      <string>_47</string>
      <string>_48</string>
      <string>_49</string>
      <string>_50</string>
      <string>_51</string>
      <string>_52</string>
      <string>_53</string>
      <string>_54</string>
      <string>_55</string>
      <string>_56</string>
      <string>_57</string>
      <string>_58</string>
      <string>_59</string>
      <string>_60</string>
      <string>_61</string>
      <string>_62</string>
      <string>_63</string>
      <string>_64</string>
      <string>_65</string>
      <string>_66</string>
      <string>_67</string>
      <string>_68</string>
      <string>_69</string>
      <string>_70</string>
      <string>_71</string>
      <string>_72</string>
      <string>_73</string>
      <string>_74</string>
      <string>_75</string>
      <string>_76</string>
      <string>_77</string>
      <string>_78</string>
      <string>_79</string>
      <string>_80</string>
      <string>_81</string>
      <string>_82</string>
      <string>_83</string>
      <string>_84</string>
      <string>_85</string>
      <string>_86</string>
      <string>_87</string>
      <string>_88</string>
      <string>_89</string>
      <string>_90</string>
      <string>_91</string>
      <string>_92</string>
      <string>_93</string>
      <string>_94</string>
      <string>_95</string>
      <string>_96</string>
      <string>_97</string>
      <string>_98</string>
      <string>_99</string>
      <string>_100</string>
      <string>_101</string>
      <string>_102</string>
      <string>_103</string>
      <string>_104</string>
      <string>_105</string>
      <string>_106</string>
      <string>_107</string>
      <string>_108</string>
      <string>_109</string>
      <string>_110</string>
      <string>_111</string>
      <string>_112</string>
      <string>_113</string>
      <string>_114</string>
      <string>_115</string>
      <string>_116</string>
      <string>_117</string>
      <string>_118</string>
      <string>_119</string>
      <string>_120</string>
      <string>_121</string>
      <string>_122</string>
      <string>_123</string>
      <string>_124</string>
      <string>_125</string>
      <string>_126</string>
      <string>_127</string>
      <string>_0.clip</string>
      <string>_1.clip</string>
      <string>_2.clip</string>
      <string>_3.clip</string>
      <string>_4.clip</string>
      <string>_5.clip</string>
      <string>_6.clip</string>
      <string>_7.clip</string>
      <string>_8.clip</string>
      <string>_9.clip</string>
      <string>_10.clip</string>
      <string>_11.clip</string>
      <string>_12.clip</string>
      <string>_13.clip</string>
      <string>_14.clip</string>
      <string>_15.clip</string>
      <string>_16.clip</string>
      <string>_17.clip</string>
      <string>_18.clip</string>
      <string>_19.clip</string>
      <string>_20.clip</string>
      <string>_21.clip</string>
      <string>_22.clip</string>
      <string>_23.clip</string>
      <string>_24.clip</string>
      <string>_25.clip</string>
      <string>_26.clip</string>
      <string>_27.clip</string>
      <string>_28.clip</string>
      <string>_29.clip</string>
      <string>_30.clip</string>
      <string>_31.clip</string>
      <string>_32.clip</string>
      <string>_33.clip</string>
      <string>_34.clip</string>
      <string>_35.clip</string>
      <string>_36.clip</string>
      <string>_37.clip</string>
      <string>_38.clip</string>
      <string>_39.clip</string>
      <string>_40.clip</string>
      <string>_41.clip</string>
      <string>_42.clip</string>
      <string>_43.clip</string>
      <string>_44.clip</string>
      <string>_45.clip</string>
      <string>_46.clip</string>
      <string>_47.clip</string>
      <string>_48.clip</string>
      <string>_49.clip</string>
      <string>_50.clip</string>
      <string>_51.clip</string>
      <string>_52.clip</string>
      <string>_53.clip</string>
      <string>_54.clip</string>
      <string>_55.clip</string>
      <string>_56.clip</string>
      <string>_57.clip</string>
      <string>_58.clip</string>
      <string>_59.clip</string>
      <string>_60.clip</string>
      <string>_61.clip</string>
      <string>_62.clip</string>
      <string>_63.clip</string>
      <string>_64.clip</string>
      <string>_65.clip</string>
      <string>_66.clip</string>
      <string>_67.clip</string>
      <string>_68.clip</string>
      <string>_69.clip</string>
      <string>_70.clip</string>
      <string>_71.clip</string>
      <string>_72.clip</string>
      <string>_73.clip</string>
      <string>_74.clip</string>
      <string>_75.clip</string>
      <string>_76.clip</string>
      <string>_77.clip</string>
      <string>_78.clip</string>
      <string>_79.clip</string>
      <string>_80.clip</string>
      <string>_81.clip</string>
      <string>_82.clip</string>
      <string>_83.clip</string>
      <string>_84.clip</string>
      <string>_85.clip</string>
      <string>_86.clip</string>
      <string>_87.clip</string>
      <string>_88.clip</string>
      <string>_89.clip</string>
      <string>_90.clip</string>
      <string>_91.clip</string>
      <string>_92.clip</string>
      <string>_93.clip</string>
      <string>_94.clip</string>
      <string>_95.clip</string>
      <string>_96.clip</string>
      <string>_97.clip</string>
      <string>_98.clip</string>
      <string>_99.clip</string>
      <string>_100.clip</string>
      <string>_101.clip</string>
      <string>_102.clip</string>
      <string>_103.clip</string>
      <string>_104.clip</string>
      <string>_105.clip</string>
      <string>_106.clip</string>
      <string>_107.clip</string>
      <string>_108.clip</string>
      <string>_109.clip</string>
      <string>_110.clip</string>
      <string>_111.clip</string>
      <string>_112.clip</string>
      <string>_113.clip</string>
      <string>_114.clip</string>
      <string>_115.clip</string>
      <string>_116.clip</string>
      <string>_117.clip</string>
      <string>_118.clip</string>
      <string>_119.clip</string>
      <string>_120.clip</string>
      <string>_121.clip</string>
      <string>_122.clip</string>
      <string>_123.clip</string>
      <string>_124.clip</string>
      <string>_125.clip</string>
      <string>_126.clip</string>
      <string>_127.clip</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>_0</key>
      <string>space</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
