<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
    <string>up10</string>
    <string>up</string>
    <string>down</string>
    <string>cap</string>
    <string>_</string>
    {{#each face.values as |code value|}}
    <string>_{{ value }}</string>
    {{/each}}
    {{#each face.values as |code value|}}
    <string>_{{ value }}.clip</string>
    {{/each}}
    {{#each face.values as |code value|}}
    <string>_{{ value }}.center</string>
    {{/each}}
    {{#each face.values as |code value|}}
    <string>_{{ value }}.clip.center</string>
    {{/each}}
	</array>
</dict>
</plist>
