<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key><string>_notdef.glif</string>
    <key>up</key><string>up.glif</string>
    <key>down</key><string>down.glif</string>
    <key>_</key><string>_.glif</string>
    <key>_0</key><string>0.glif</string>
    <key>_1</key><string>1.glif</string>
    <key>_2</key><string>2.glif</string>
    <key>_3</key><string>3.glif</string>
    <key>_4</key><string>4.glif</string>
    <key>_5</key><string>5.glif</string>
    <key>_6</key><string>6.glif</string>
    <key>_7</key><string>7.glif</string>
    <key>_8</key><string>8.glif</string>
    <key>_9</key><string>9.glif</string>
    <key>_10</key><string>10.glif</string>
    <key>_11</key><string>11.glif</string>
    <key>_12</key><string>12.glif</string>
    <key>_13</key><string>13.glif</string>
    <key>_14</key><string>14.glif</string>
    <key>_15</key><string>15.glif</string>
    <key>_16</key><string>16.glif</string>
    <key>_17</key><string>17.glif</string>
    <key>_18</key><string>18.glif</string>
    <key>_19</key><string>19.glif</string>
    <key>_20</key><string>20.glif</string>
    <key>_21</key><string>21.glif</string>
    <key>_22</key><string>22.glif</string>
    <key>_23</key><string>23.glif</string>
    <key>_24</key><string>24.glif</string>
    <key>_25</key><string>25.glif</string>
    <key>_26</key><string>26.glif</string>
    <key>_27</key><string>27.glif</string>
    <key>_28</key><string>28.glif</string>
    <key>_29</key><string>29.glif</string>
    <key>_30</key><string>30.glif</string>
    <key>_31</key><string>31.glif</string>
    <key>_32</key><string>32.glif</string>
    <key>_33</key><string>33.glif</string>
    <key>_34</key><string>34.glif</string>
    <key>_35</key><string>35.glif</string>
    <key>_36</key><string>36.glif</string>
    <key>_37</key><string>37.glif</string>
    <key>_38</key><string>38.glif</string>
    <key>_39</key><string>39.glif</string>
    <key>_40</key><string>40.glif</string>
    <key>_41</key><string>41.glif</string>
    <key>_42</key><string>42.glif</string>
    <key>_43</key><string>43.glif</string>
    <key>_44</key><string>44.glif</string>
    <key>_45</key><string>45.glif</string>
    <key>_46</key><string>46.glif</string>
    <key>_47</key><string>47.glif</string>
    <key>_48</key><string>48.glif</string>
    <key>_49</key><string>49.glif</string>
    <key>_50</key><string>50.glif</string>
    <key>_51</key><string>51.glif</string>
    <key>_52</key><string>52.glif</string>
    <key>_53</key><string>53.glif</string>
    <key>_54</key><string>54.glif</string>
    <key>_55</key><string>55.glif</string>
    <key>_56</key><string>56.glif</string>
    <key>_57</key><string>57.glif</string>
    <key>_58</key><string>58.glif</string>
    <key>_59</key><string>59.glif</string>
    <key>_60</key><string>60.glif</string>
    <key>_61</key><string>61.glif</string>
    <key>_62</key><string>62.glif</string>
    <key>_63</key><string>63.glif</string>
    <key>_64</key><string>64.glif</string>
    <key>_65</key><string>65.glif</string>
    <key>_66</key><string>66.glif</string>
    <key>_67</key><string>67.glif</string>
    <key>_68</key><string>68.glif</string>
    <key>_69</key><string>69.glif</string>
    <key>_70</key><string>70.glif</string>
    <key>_71</key><string>71.glif</string>
    <key>_72</key><string>72.glif</string>
    <key>_73</key><string>73.glif</string>
    <key>_74</key><string>74.glif</string>
    <key>_75</key><string>75.glif</string>
    <key>_76</key><string>76.glif</string>
    <key>_77</key><string>77.glif</string>
    <key>_78</key><string>78.glif</string>
    <key>_79</key><string>79.glif</string>
    <key>_80</key><string>80.glif</string>
    <key>_81</key><string>81.glif</string>
    <key>_82</key><string>82.glif</string>
    <key>_83</key><string>83.glif</string>
    <key>_84</key><string>84.glif</string>
    <key>_85</key><string>85.glif</string>
    <key>_86</key><string>86.glif</string>
    <key>_87</key><string>87.glif</string>
    <key>_88</key><string>88.glif</string>
    <key>_89</key><string>89.glif</string>
    <key>_90</key><string>90.glif</string>
    <key>_91</key><string>91.glif</string>
    <key>_92</key><string>92.glif</string>
    <key>_93</key><string>93.glif</string>
    <key>_94</key><string>94.glif</string>
    <key>_95</key><string>95.glif</string>
    <key>_96</key><string>96.glif</string>
    <key>_97</key><string>97.glif</string>
    <key>_98</key><string>98.glif</string>
    <key>_99</key><string>99.glif</string>
    <key>_100</key><string>100.glif</string>
    <key>_101</key><string>101.glif</string>
    <key>_102</key><string>102.glif</string>
    <key>_103</key><string>103.glif</string>
    <key>_104</key><string>104.glif</string>
    <key>_105</key><string>105.glif</string>
    <key>_106</key><string>106.glif</string>
    <key>_107</key><string>107.glif</string>
    <key>_108</key><string>108.glif</string>
    <key>_109</key><string>109.glif</string>
    <key>_110</key><string>110.glif</string>
    <key>_111</key><string>111.glif</string>
    <key>_112</key><string>112.glif</string>
    <key>_113</key><string>113.glif</string>
    <key>_114</key><string>114.glif</string>
    <key>_115</key><string>115.glif</string>
    <key>_116</key><string>116.glif</string>
    <key>_117</key><string>117.glif</string>
    <key>_118</key><string>118.glif</string>
    <key>_119</key><string>119.glif</string>
    <key>_120</key><string>120.glif</string>
    <key>_121</key><string>121.glif</string>
    <key>_122</key><string>122.glif</string>
    <key>_123</key><string>123.glif</string>
    <key>_124</key><string>124.glif</string>
    <key>_125</key><string>125.glif</string>
    <key>_126</key><string>126.glif</string>
    <key>_127</key><string>127.glif</string>
    <key>_128</key><string>128.glif</string>
  </dict>
</plist>
