<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key><string>_notdef.glif</string>
    <key>up</key><string>up.glif</string>
    <key>down</key><string>down.glif</string>
    <key>_</key><string>_.glif</string>
    <key>_0</key><string>0.glif</string>
    <key>_1</key><string>1.glif</string>
    <key>_2</key><string>2.glif</string>
    <key>_3</key><string>3.glif</string>
    <key>_4</key><string>4.glif</string>
    <key>_5</key><string>5.glif</string>
    <key>_6</key><string>6.glif</string>
    <key>_7</key><string>7.glif</string>
    <key>_8</key><string>8.glif</string>
    <key>_9</key><string>9.glif</string>
  </dict>
</plist>
