<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>_0</key>
		<string>_0.glif</string>
		<key>_0.clip</key>
		<string>_0.clip.glif</string>
		<key>_1</key>
		<string>_1.glif</string>
		<key>_1.clip</key>
		<string>_1.clip.glif</string>
		<key>_10</key>
		<string>_10.glif</string>
		<key>_10.clip</key>
		<string>_10.clip.glif</string>
		<key>_100</key>
		<string>_100.glif</string>
		<key>_101</key>
		<string>_101.glif</string>
		<key>_102</key>
		<string>_102.glif</string>
		<key>_103</key>
		<string>_103.glif</string>
		<key>_104</key>
		<string>_104.glif</string>
		<key>_105</key>
		<string>_105.glif</string>
		<key>_106</key>
		<string>_106.glif</string>
		<key>_107</key>
		<string>_107.glif</string>
		<key>_108</key>
		<string>_108.glif</string>
		<key>_109</key>
		<string>_109.glif</string>
		<key>_11</key>
		<string>_11.glif</string>
		<key>_11.clip</key>
		<string>_11.clip.glif</string>
		<key>_110</key>
		<string>_110.glif</string>
		<key>_111</key>
		<string>_111.glif</string>
		<key>_112</key>
		<string>_112.glif</string>
		<key>_113</key>
		<string>_113.glif</string>
		<key>_114</key>
		<string>_114.glif</string>
		<key>_115</key>
		<string>_115.glif</string>
		<key>_116</key>
		<string>_116.glif</string>
		<key>_117</key>
		<string>_117.glif</string>
		<key>_118</key>
		<string>_118.glif</string>
		<key>_119</key>
		<string>_119.glif</string>
		<key>_12</key>
		<string>_12.glif</string>
		<key>_12.clip</key>
		<string>_12.clip.glif</string>
		<key>_120</key>
		<string>_120.glif</string>
		<key>_121</key>
		<string>_121.glif</string>
		<key>_122</key>
		<string>_122.glif</string>
		<key>_123</key>
		<string>_123.glif</string>
		<key>_124</key>
		<string>_124.glif</string>
		<key>_125</key>
		<string>_125.glif</string>
		<key>_126</key>
		<string>_126.glif</string>
		<key>_127</key>
		<string>_127.glif</string>
		<key>_13</key>
		<string>_13.glif</string>
		<key>_13.clip</key>
		<string>_13.clip.glif</string>
		<key>_14</key>
		<string>_14.glif</string>
		<key>_14.clip</key>
		<string>_14.clip.glif</string>
		<key>_15</key>
		<string>_15.glif</string>
		<key>_15.clip</key>
		<string>_15.clip.glif</string>
		<key>_16</key>
		<string>_16.glif</string>
		<key>_16.clip</key>
		<string>_16.clip.glif</string>
		<key>_17</key>
		<string>_17.glif</string>
		<key>_17.clip</key>
		<string>_17.clip.glif</string>
		<key>_18</key>
		<string>_18.glif</string>
		<key>_18.clip</key>
		<string>_18.clip.glif</string>
		<key>_19</key>
		<string>_19.glif</string>
		<key>_19.clip</key>
		<string>_19.clip.glif</string>
		<key>_2</key>
		<string>_2.glif</string>
		<key>_2.clip</key>
		<string>_2.clip.glif</string>
		<key>_20</key>
		<string>_20.glif</string>
		<key>_20.clip</key>
		<string>_20.clip.glif</string>
		<key>_21</key>
		<string>_21.glif</string>
		<key>_21.clip</key>
		<string>_21.clip.glif</string>
		<key>_22</key>
		<string>_22.glif</string>
		<key>_22.clip</key>
		<string>_22.clip.glif</string>
		<key>_23</key>
		<string>_23.glif</string>
		<key>_23.clip</key>
		<string>_23.clip.glif</string>
		<key>_24</key>
		<string>_24.glif</string>
		<key>_24.clip</key>
		<string>_24.clip.glif</string>
		<key>_25</key>
		<string>_25.glif</string>
		<key>_25.clip</key>
		<string>_25.clip.glif</string>
		<key>_26</key>
		<string>_26.glif</string>
		<key>_26.clip</key>
		<string>_26.clip.glif</string>
		<key>_27</key>
		<string>_27.glif</string>
		<key>_27.clip</key>
		<string>_27.clip.glif</string>
		<key>_28</key>
		<string>_28.glif</string>
		<key>_28.clip</key>
		<string>_28.clip.glif</string>
		<key>_29</key>
		<string>_29.glif</string>
		<key>_29.clip</key>
		<string>_29.clip.glif</string>
		<key>_3</key>
		<string>_3.glif</string>
		<key>_3.clip</key>
		<string>_3.clip.glif</string>
		<key>_30</key>
		<string>_30.glif</string>
		<key>_30.clip</key>
		<string>_30.clip.glif</string>
		<key>_31</key>
		<string>_31.glif</string>
		<key>_31.clip</key>
		<string>_31.clip.glif</string>
		<key>_32</key>
		<string>_32.glif</string>
		<key>_32.clip</key>
		<string>_32.clip.glif</string>
		<key>_33</key>
		<string>_33.glif</string>
		<key>_33.clip</key>
		<string>_33.clip.glif</string>
		<key>_34</key>
		<string>_34.glif</string>
		<key>_34.clip</key>
		<string>_34.clip.glif</string>
		<key>_35</key>
		<string>_35.glif</string>
		<key>_35.clip</key>
		<string>_35.clip.glif</string>
		<key>_36</key>
		<string>_36.glif</string>
		<key>_36.clip</key>
		<string>_36.clip.glif</string>
		<key>_37</key>
		<string>_37.glif</string>
		<key>_37.clip</key>
		<string>_37.clip.glif</string>
		<key>_38</key>
		<string>_38.glif</string>
		<key>_38.clip</key>
		<string>_38.clip.glif</string>
		<key>_39</key>
		<string>_39.glif</string>
		<key>_39.clip</key>
		<string>_39.clip.glif</string>
		<key>_4</key>
		<string>_4.glif</string>
		<key>_4.clip</key>
		<string>_4.clip.glif</string>
		<key>_40</key>
		<string>_40.glif</string>
		<key>_41</key>
		<string>_41.glif</string>
		<key>_42</key>
		<string>_42.glif</string>
		<key>_43</key>
		<string>_43.glif</string>
		<key>_44</key>
		<string>_44.glif</string>
		<key>_45</key>
		<string>_45.glif</string>
		<key>_46</key>
		<string>_46.glif</string>
		<key>_47</key>
		<string>_47.glif</string>
		<key>_48</key>
		<string>_48.glif</string>
		<key>_49</key>
		<string>_49.glif</string>
		<key>_5</key>
		<string>_5.glif</string>
		<key>_5.clip</key>
		<string>_5.clip.glif</string>
		<key>_50</key>
		<string>_50.glif</string>
		<key>_51</key>
		<string>_51.glif</string>
		<key>_52</key>
		<string>_52.glif</string>
		<key>_53</key>
		<string>_53.glif</string>
		<key>_54</key>
		<string>_54.glif</string>
		<key>_55</key>
		<string>_55.glif</string>
		<key>_56</key>
		<string>_56.glif</string>
		<key>_57</key>
		<string>_57.glif</string>
		<key>_58</key>
		<string>_58.glif</string>
		<key>_59</key>
		<string>_59.glif</string>
		<key>_6</key>
		<string>_6.glif</string>
		<key>_6.clip</key>
		<string>_6.clip.glif</string>
		<key>_60</key>
		<string>_60.glif</string>
		<key>_61</key>
		<string>_61.glif</string>
		<key>_62</key>
		<string>_62.glif</string>
		<key>_63</key>
		<string>_63.glif</string>
		<key>_64</key>
		<string>_64.glif</string>
		<key>_65</key>
		<string>_65.glif</string>
		<key>_66</key>
		<string>_66.glif</string>
		<key>_67</key>
		<string>_67.glif</string>
		<key>_68</key>
		<string>_68.glif</string>
		<key>_69</key>
		<string>_69.glif</string>
		<key>_7</key>
		<string>_7.glif</string>
		<key>_7.clip</key>
		<string>_7.clip.glif</string>
		<key>_70</key>
		<string>_70.glif</string>
		<key>_71</key>
		<string>_71.glif</string>
		<key>_72</key>
		<string>_72.glif</string>
		<key>_73</key>
		<string>_73.glif</string>
		<key>_74</key>
		<string>_74.glif</string>
		<key>_75</key>
		<string>_75.glif</string>
		<key>_76</key>
		<string>_76.glif</string>
		<key>_77</key>
		<string>_77.glif</string>
		<key>_78</key>
		<string>_78.glif</string>
		<key>_79</key>
		<string>_79.glif</string>
		<key>_8</key>
		<string>_8.glif</string>
		<key>_8.clip</key>
		<string>_8.clip.glif</string>
		<key>_80</key>
		<string>_80.glif</string>
		<key>_81</key>
		<string>_81.glif</string>
		<key>_82</key>
		<string>_82.glif</string>
		<key>_83</key>
		<string>_83.glif</string>
		<key>_84</key>
		<string>_84.glif</string>
		<key>_85</key>
		<string>_85.glif</string>
		<key>_86</key>
		<string>_86.glif</string>
		<key>_87</key>
		<string>_87.glif</string>
		<key>_88</key>
		<string>_88.glif</string>
		<key>_89</key>
		<string>_89.glif</string>
		<key>_9</key>
		<string>_9.glif</string>
		<key>_9.clip</key>
		<string>_9.clip.glif</string>
		<key>_90</key>
		<string>_90.glif</string>
		<key>_91</key>
		<string>_91.glif</string>
		<key>_92</key>
		<string>_92.glif</string>
		<key>_93</key>
		<string>_93.glif</string>
		<key>_94</key>
		<string>_94.glif</string>
		<key>_95</key>
		<string>_95.glif</string>
		<key>_96</key>
		<string>_96.glif</string>
		<key>_97</key>
		<string>_97.glif</string>
		<key>_98</key>
		<string>_98.glif</string>
		<key>_99</key>
		<string>_99.glif</string>
		<key>cap</key>
		<string>cap.glif</string>
		<key>down</key>
		<string>down.glif</string>
		<key>down10</key>
		<string>down10.glif</string>
		<key>up</key>
		<string>up.glif</string>
		<key>up10</key>
		<string>up10.glif</string>
	</dict>
</plist>
