<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
    <string>up</string>
    <string>down</string>
    <string>_</string>
    <string>cap.top</string>
    <string>cap.bottom</string>
    <string>value</string>
    {{#each values}}
    <string>_{{ this.value }}</string>{{#if this.clip }}<string>_{{ this.value }}.clip</string>{{/if}}
    {{/each}}
	</array>
</dict>
</plist>
