<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
    <string>up10</string>
    <string>up</string>
    <string>down</string>
    <string>down10</string>
    <string>cap</string>
    {{#each face.values as |code value|}}
    <string>_{{ value }}</string>
    {{/each}}
    {{#each face.values as |code value|}}
    <string>_{{ value }}.clip</string>
    {{/each}}
	</array>
  <key>public.postscriptNames</key>
  <dict>
      <key>_0</key>
      <string>space</string>
  </dict>
</dict>
</plist>
