<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key><string>_notdef.glif</string>
    <key>up10</key><string>up10.glif</string>
    <key>up</key><string>up.glif</string>
    <key>down</key><string>down.glif</string>
    <key>cap</key><string>cap.glif</string>

    {{#each face.values as |code value|}}
    <key>_{{ value }}</key><string>{{ value }}.glif</string>
    {{/each}}

    {{#each clips as |code value|}}
    {{#if value}}<key>_{{ value }}.clip</key><string>{{ value }}.clip.glif</string>{{/if}}
    {{/each}}
  </dict>
</plist>
