<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key><string>_notdef.glif</string>
    <key>up</key><string>up.glif</string>
    <key>down</key><string>down.glif</string>
    <key>_</key><string>_.glif</string>

    {{#each face.values as |code value|}}
    <key>_{{ value }}</key><string>_{{ value }}.glif</string>{{#if (lookup ../face.alias value)}}{{#each (lookup ../face.alias value) as |aliasCode|}}<key>{{uni aliasCode}}</key><string>_{{ value }}.glif</string>{{/each}}{{/if}}{{#if (clip i)}}<key>_{{ code }}.clip</key><string>{{ code }}.clip.glif</string>{{/if}}
    {{/each}}
  </dict>
</plist>
